<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fad fa-burger-soda"></i>
    <h1 class="display-3">My Canteen</h1>
    <p class="lead">Sign up or Login to enjoy the food of MyCanteen</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
